#header_wrapper {
    position: fixed;
    top: 0px;

    background-color: rgba(235, 235, 235, 0.8);

    padding: 10px;

    width: 100%;
    height: 60px;

    display: flex;
    flex-wrap: wrap;
    align-items: center;

    z-index: 1;
}

#header_logo {
    max-width: 50%;
}

#header_logo img {
    margin-left: 20px;
    height: 40px;
}

#header_nav {
    display: flex;
    flex-wrap: wrap;

    margin-right: 30px;
    margin-left: auto;
    
    align-content: center;
    
    height: 30px;
}

.no-backlight {
    margin-left: 5px;
    margin-right: 5px;

    padding: 10px;
    border-radius: 8px;

    height: 30px;

    display: flex;
    align-items: center;

    font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
    font-size: medium;
    color: black;
}
.backlight {
    margin-left: 5px;
    margin-right: 5px;

    padding: 10px;
    border-radius: 8px;

    height: 30px;

    display: flex;
    align-items: center;

    font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
    font-size: medium;
    color: black;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.backlight:hover {
    background-color: #00aaff;
    color: white;

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#righttop_logo {
    margin-right: 5px;
    margin-left: 5px;

    margin-top: auto;
    margin-bottom: auto;
}

#righttop_logo img {
    width: 32px;
}

#footer_wrapper {
    margin-top: 50px;
    margin-bottom: 10px;

    width: 100%;

    font-family: 'Josefin Sans', 'Noto Sans JP', sans-serif;
    font-size: medium;
}

/* ページ内リンクのズレを修正 */
.inpage_link {
    margin-top: -60px;
    padding-top: 60px;
}
