name: Test

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    environment: test_api_key
    env:
      TEST_API_KEY: ${{ secrets.TEST_API_KEY }}

    steps:
    - uses: actions/checkout@v4
    - name: Print secret
      run: echo Your secret API key is ${TEST_API_KEY}
